<footer class="footer py-3 bg-light" style="position:sticky;width:100%;min-height:1rem;bottom:0;left:0;">
    <div class="container">
        <p class="text-center">Cycle Logical is a mock inventory site written in Node.js, Express, and MongoDB.</p> 
        <p class="text-center">🤩 Built with enthusiasm by <a href="https://github.com/rusty-reebs">rusty-reebs </a><i class="bi bi-github"></i></p> 
    </div>
</footer>