<footer class="footer mt-auto py-3 bg-light">
    <div class="container">
        <p class="text-center">Cycle Logical is a mock inventory site written in Node.js, Express, and MongoDB.</p> 
        <p class="text-center">🤩 Built with enthusiasm by <a href="https://github.com/rusty-reebs">rusty-reebs </a><i class="bi bi-github"></i></p> 
    </div>
</footer>