<nav class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom bg-light">
    <a href="/" class="d-flex align-items-center ms-5 mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
      <span class="fs-4" style="font-family:Slackey, cursive;text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
      0px 8px 13px rgba(0,0,0,0.1),
      0px 18px 23px rgba(0,0,0,0.1);">Cycle Logical</span>
    </a>

    <ul class="nav col-12 col-md-auto mb-2 me-4 justify-content-center mb-md-0">
      <li class="nav-link px-2 link-secondary"><a href="/" class="nav-link text-dark">Home</a></li>
      <li class="nav-link px-2 link-secondary"><a href="/items" class="nav-link text-dark">Items</a></li>
      <li class="nav-link px-2 link-secondary"><a href="/categories" class="nav-link text-dark">Categories</a></li>
      <li class="nav-link px-2 link-secondary"><a href="/manufacturers" class="nav-link text-dark">Manufacturers</a></li>
      <li class="nav-link px-2 link-secondary"><a href="/made_ins" class="nav-link text-dark">Made In</a></li>
    </ul>
  </nav>