<header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
      <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
      <span class="fs-4" style="font-family:Slackey, cursive;text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
      0px 8px 13px rgba(0,0,0,0.1),
      0px 18px 23px rgba(0,0,0,0.1);">Cycle Logical</span>
    </a>

    <ul class="nav nav-pills">
      <li class="nav-item"><a href="/" class="nav-link active" aria-current="page">Home</a></li>
      <li class="nav-item"><a href="/items" class="nav-link">Items</a></li>
      <li class="nav-item"><a href="/categories" class="nav-link">Categories</a></li>
      <li class="nav-item"><a href="/manufacturers" class="nav-link">Manufacturers</a></li>
      <li class="nav-item"><a href="/made_ins" class="nav-link">Made In</a></li>
    </ul>
  </header>