<nav class="d-flex flex-wrap justify-content-center py-3 mb-4">
    <a href="/" class="d-flex align-items-center ms-3 mb-3 mb-md-0 me-md-auto text-light text-decoration-none">
      <span class="fs-3" style="font-family:Slackey, cursive;text-shadow: 2px 2px 5px indigo">Cycle Logical</span>
    </a>

    <ul class="nav col-12 col-md-auto mb-2 me-4 justify-content-center mb-md-0">
      <li class="nav-link px-2 link-secondary"><a href="/" class="nav-link text-light" style="text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
        0px 8px 13px rgba(0,0,0,0.1),
        0px 18px 23px rgba(0,0,0,0.1);">Home</a></li>
      <li class="nav-link px-2 link-secondary"><a href="/items" class="nav-link text-light" style="text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
        0px 8px 13px rgba(0,0,0,0.1),
        0px 18px 23px rgba(0,0,0,0.1);">Items</a></li>
      <li class="nav-link px-2 link-secondary"><a href="/categories" class="nav-link text-light" style="text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
        0px 8px 13px rgba(0,0,0,0.1),
        0px 18px 23px rgba(0,0,0,0.1);">Categories</a></li>
      <li class="nav-link px-2 link-secondary"><a href="/manufacturers" class="nav-link text-light" style="text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
        0px 8px 13px rgba(0,0,0,0.1),
        0px 18px 23px rgba(0,0,0,0.1);">Manufacturers</a></li>
      <li class="nav-link px-2 link-secondary"><a href="/made_ins" class="nav-link text-light" style="text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
        0px 8px 13px rgba(0,0,0,0.1),
        0px 18px 23px rgba(0,0,0,0.1);">Made In</a></li>
    </ul>
  </nav>