<!DOCTYPE html>
<html>
  <%- include('../partials/head'); -%>
  <body>
    <%- include('../partials/topnav'); -%>
    <div class="container">
        <h1 class="text-center"><%= title %>
        <a href="/item/create" class="btn btn-secondary float-end">Add new item</a></h1>
    </div>
    <div class="container">
        <div class="row gap-3 my-4">
        <% item_list.forEach((item) => { %>
    <%- include('item-card', {item_details: item}); -%>
      <% }) %>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
  </body>
</html>
