<div class="col">
    <a href=<%= category_details.url %> class="text-decoration-none text-reset">
<div class="card h-100 mb-3 mx-auto" style="width: 18rem;">
    <img src=<%= category_details.img %> style="max-height:10rem;object-fit:scale-down" class="card-img-top" alt=<%= category_details.name %>>
    <div class="card-body">
      <h5 class="card-title"><%= category_details.name %></h5>
      <div class="mt-2">
    </div>
</div>
</a>
</div>
