<div class="row">
    <div class="col">
        <a href="/items">
        <div class="card h-100" style="width: 17rem;">
            <h5 class="card-header">Items - (<%= data.item_count %>)</h5>
            <img src="images/giant-trance.jpg" class="card-img-top" alt="...">
        </div>
        </a>
    </div>
    <div class="col">
        <a href="/manufacturers">
        <div class="card h-100" style="width: 17rem;">
            <h5 class="card-header">Manufacturers - (<%= data.manufacturer_count %>)</h5>
            <img src="images/giant-logo.png" class="card-img-top" alt="...">
        </div>
        </a>
    </div>
    <div class="col">
        <a href="/categories">
        <div class="card h-100" style="width: 17rem;">
            <h5 class="card-header">Categories - (<%= data.category_count %>)</h5>
            <img src="images/giro-helmet.jpeg" class="card-img-top" alt="...">
        </div>
        </a>
    </div>
    <div class="col">
        <a href="/made_ins">
        <div class="card h-100" style="width: 17rem;">
            <h5 class="card-header">Made In - (<%= data.made_in_count %>)</h5>
            <img src="images/trek-fuel.jpeg" class="card-img-top" alt="...">
        </div>
        </a>
    </div>
</div>