<div class="row">
    <div class="col">
        <a href="/items" class="text-decoration-none text-reset">
        <div class="card h-100 my-4 mx-auto" style="width: 17rem;">
            <h5 class="card-header text-center">Items - (<%= data.item_count %>)</h5>
            <img src="images/items-collage.jpg" class="card-img-top" alt="...">
        </div>
        </a>
    </div>
    <div class="col">
        <a href="/manufacturers" class="text-decoration-none text-reset">
        <div class="card h-100 my-4 mx-auto" style="width: 17rem;">
            <h5 class="card-header text-center">Manufacturers - (<%= data.manufacturer_count %>)</h5>
            <img src="images/manufacturers-collage.jpg" class="card-img-top" alt="...">
        </div>
        </a>
    </div>
    <div class="col">
        <a href="/categories" class="text-decoration-none text-reset">
        <div class="card h-100 my-4 mx-auto" style="width: 17rem;">
            <h5 class="card-header text-center">Categories - (<%= data.category_count %>)</h5>
            <img src="images/categories-collage.jpg" class="card-img-top" alt="...">
        </div>
        </a>
    </div>
    <div class="col">
        <a href="/made_ins" class="text-decoration-none text-reset">
        <div class="card h-100 my-4 mx-auto" style="width: 17rem;">
            <h5 class="card-header text-center">Made In - (<%= data.made_in_count %>)</h5>
            <img src="images/made_ins-collage.jpg" class="card-img-top" alt="...">
        </div>
        </a>
    </div>
</div>