<div class="row gap-3">
    <div class="col">
        <a href="/items" class="text-decoration-none text-reset">
        <div class="card h-100 my-4 mx-auto shadow" style="width: 17rem;">
            <h5 class="card-header text-center">Items - (<%= data.item_count %>)</h5>
            <img src="https://res.cloudinary.com/dnwnw3z4z/image/upload/v1643318205/inventory-app/collages/Items_m2upxv.png" class="card-img-top mt-3" alt="...">
        </div>
        </a>
    </div>
    <div class="col">
        <a href="/manufacturers" class="text-decoration-none text-reset">
        <div class="card h-100 my-4 mx-auto shadow" style="width: 17rem;">
            <h5 class="card-header text-center">Manufacturers - (<%= data.manufacturer_count %>)</h5>
            <img src="https://res.cloudinary.com/dnwnw3z4z/image/upload/v1643318183/inventory-app/collages/Companies_fksrve.png" class="card-img-top mt-3" alt="...">
        </div>
        </a>
    </div>
    <div class="col">
        <a href="/categories" class="text-decoration-none text-reset">
        <div class="card h-100 my-4 mx-auto shadow" style="width: 17rem;">
            <h5 class="card-header text-center">Categories - (<%= data.category_count %>)</h5>
            <img src="https://res.cloudinary.com/dnwnw3z4z/image/upload/v1643318193/inventory-app/collages/Categories_wdbpwa.png" class="card-img-top mt-4" alt="...">
        </div>
        </a>
    </div>
    <div class="col">
        <a href="/made_ins" class="text-decoration-none text-reset">
        <div class="card h-100 my-4 mx-auto shadow" style="width: 17rem;">
            <h5 class="card-header text-center">Made In - (<%= data.made_in_count %>)</h5>
            <img src="https://res.cloudinary.com/dnwnw3z4z/image/upload/v1643318184/inventory-app/collages/Flags_joaxmy.png" class="card-img-top mt-5 mx-auto w-75" alt="...">
        </div>
        </a>
    </div>
</div>