<div class="col">
    <a href=<%= category_details.url %> class="text-decoration-none text-reset">
    <div class="card h-100 mb-3 mx-auto bg-light shadow" style="width:18rem;">
        <div class="card-body">
            <h5 class="card-title text-center"><%- category_details.name %></h5>
        </div>
    </div>
    </a>
</div>
