<%- include('../partials/page-style'); -%>
<%- include('../partials/title'); -%>
    </div>
    <div class="container">
        <form method="POST" action="">
            <div class="mb-3 w-50">
                <label for="name" class="form-label">Category</label>
                <input type="text" class="form-control" name="name" required="true" value="<%- category.name %>">
            </div>
            <button class="btn btn-secondary mb-4" type="submit">Submit</button>
        </form>
    </div>
    <% if (typeof errors != "undefined") { %>
        <div class="container">
        <ul>
            <% errors.forEach((error) => { %>
                <li><%= error.msg %></li>
            <% }) %>
        </ul>        
        </div>
    <% } %>
  </body>