<%- include('../partials/page-style'); -%>
<%- include('../partials/title'); -%>
    </div>
    <div class="container">
        <form method="POST" action="" enctype="multipart/form-data">
            <div class="mb-3 w-50">
                <label for="name" class="form-label">Country</label>
                <input type="text" class="form-control" name="name" required="true">
            </div>
            <div class="mb-3 mx-auto">
                <label class="form-label" for="image_url">Image</label><br>
                <input type="file" name="image_url" required="true">
            </div>
            <button class="btn btn-secondary mb-4" type="submit">Submit</button>
        </form>
    </div>
    <% if (typeof errors != "undefined") { %>
        <div class="container">
        <ul>
            <% errors.forEach((error) => { %>
                <li><%= error.msg %></li>
            <% }) %>
        </ul>        
        </div>
    <% } %>
  </body>